* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.container-fluid, .row {
	height: 100%;
	border: 1px solid blue;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	border: 1px solid blue;
}

.separator {
	height: 5px;
	width: 50%;
	margin: auto;
}

/* Header */

header {
	height: 100px;
}

/* Jumbotron */

.jumbotron {
	background-color: #58B99D;
}

/* .jumbotron-content {
	height: 200px;
} */

.avatar {
	height: 200px;
}

.avatar img {
	height: 100%;
}

.skills {
	font-size: 20px;
}

/* Portfolio */

.portfolio-item img {
	width: 100%;
	border-radius: 10px;
}

/* About */

.about {
	background-color: #58B99D;
}

/* Form */

input, textarea {
	display: block;
	border: 0;
	border-bottom: 1px solid #000000;
	width: 100%;
	background-color: transparent;
	color: #FFFFFF;
}

.btn input {
	border: 0;
}

/* Footer */

footer {
	background-color: #3F536B;
}

.footer-item {
	height: 100px;
}

.copyright {
	background-color: #303D4E;
}