* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-fluid, .row {
	height: 100%;
	border: 1px solid blue;
}

header {
	height: 100px;
}

.jumbotron {
	height: 400px;
	background-color: #58B99D;
}

.jumbotron-content {
	height: 200px;
}